
/* --- TW Directives --- */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


/* --- Body overflow --- */

html {
  overflow-x: hidden !important;
  background-color: #010101;
}

/* --- Global Color --- */

body {
  color: rgb(var(--foreground-rgb));
  background-color: #010101 !important; 
  overflow-x: hidden;
}


/* --- Definbe Shadow Class for Big Typography --- */

.text-shadow {
  color: rgb(16, 16, 16);
  text-shadow:
    -1px -1px 0 #FFFFFF,
    1px -1px 0 #FFFFFF,
    -1px 1px 0 #FFFFFF,
    1px 1px 0 #FFFFFF;
  ;
}

.blog-container {
  @apply container flex lg:grid lg:grid-cols-2 lg:gap-x-10 lg:gap-y-8 lg:grid-rows-3 flex-col gap-y-4 mt-10 mb-16;
}

.short-item {
  @apply row-span-1	justify-center
}

.long-item {
  @apply row-span-2	
}