
/* --- TW Directives --- */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


/* --- Body overflow --- */

html {
  overflow-x: hidden !important;
  background-color: #010101;
}


/* --- Global Color --- */

body {
  color: rgb(var(--foreground-rgb));
  background-color: #010101 !important; 
}


/* --- Definbe Shadow Class for Big Typography --- */

.text-shadow {
  color: rgb(16, 16, 16);
  text-shadow:
    -0.5px -0.5px 0 #FFFFFF,
    0.5px -0.5px 0 #FFFFFF,
    -0.5px 0.5px 0 #FFFFFF,
    0.5px 0.5px 0 #FFFFFF;
  ;
}